header{ background-color: #EAC926;}


body{    background-color:#ebebeb;      
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    margin: 0;
    padding: 0;
}

footer {text-align: center;
        background-color:white;
        margin: 10px;
        padding-top: 15px
        
      }
      
 .camion{
        text-align: left;
        font-size: 18px;
        margin: 10px;
        color:#39b54a ;
      }

.Titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
    
}
.descuentos{
    font-size: 16px;
    color : #39b54a; 
}
.descripcion{
    font-size: 16px;
}
.burger-menu {
    text-align: center;
    font-size: 2em;
}
.burger-menu i {
    background-color: #1259c3;
    color: #ebebeb;
    padding: 6px;
    border-radius:  5px;
    margin-bottom: 5px;
}


footer#icono i
{
color: #1259c3;
font-size: 2em;
}
.BarraBuscador
{
    text-align: center
}
a
{
    text-decoration: none;
    color: black;
    margin-right: 4px
}
  .listas
  {
      list-style-type: none;
      text-align: left;
  }

  article
  {
    width:100%;
    padding: 15px; 
    background-color:#ffff  ;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    border-top: solid 1px #ebebeb;
    
    
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

main{
    width: 90%;
    margin: auto;
}
p{
    margin: 0
}
nav ul {
    padding: 0;
}


@media (max-width: 360px){
    h2.descripcion{
        display: none;
    }
    ul.listas{
        display: none;
    }
    .logo-buscador{
        display: flex;
        justify-content:center;
        align-items: center; 
        padding : 5px;
        font-size: 10px;
        flex-wrap: wrap;
        
    }
    .BarraBuscador{
        width: 100%;
    }
    .logo{
        display: flex ;
        align-content: center;
        width: 120px;
        flex-wrap: wrap;
        
    }
    .BarraBuscador{
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        
    }
    .BarraBuscador{
        padding: 5px;
        border-radius: 5px;
        width: 100px;
        position: relative;
        left: 10px;
    }
    .icono-buscador{
        padding: 5px;
        position: relative;
        left: 108px;
        top: -29px;
        border-radius: 5px;
    }
      .icono-buscador:hover{
          background-color: royalblue;
          cursor: pointer;
      }
}

@media (min-width: 361px)
{
    
      article{  box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }
       .hamburguesa{display: none
      } 
      .listas{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between ;
        align-items: center;
        padding: 5px; 
    }
      

        .listaIzquierda{
            display: flex;
            justify-content:flex-start ;
            align-items: center;
            padding: 5px;
           
        }
        .listaDerecha{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
          
        }
        nav ul{
        margin-bottom: 0px;
    
        }
        .main-nav{
          
            font-size: 12px;
            flex-wrap: wrap;
            padding: 10px;
           
         
        }
       
        .logo-buscador{
            display: flex;
            justify-content:space-between;
            align-items: center; 
            padding : 10px;
            font-size: 10px;
            flex-wrap: wrap;
            
    
        }
       .logo{
           width: 150px;
           
       }    
       .titular{
           font-size: 15px;
       }  
      
 
 
 .contenedor{
    
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
  /*height:auto Este valor lo puedes omitir si la altura de tu componente esta definida*/
}
.articulo1{
    height:370px;
    width:250px;
  }
  .articulo2{
    height: 370px;;
    width:250px;
  }
  .articulo3{
    height: 370px;;
    width:250px;
  }
  .articulo4{
    height: 370px;;
    width:250px;
    
  }
  .contenedor2{
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
    
    
  }
  .articulo5{
    height: 370px;;
    width:250px;
  }
  .articulo6{
    height: 370px;;
    width:250px;
  }
  .articulo7{
    height: 370px;;
    width:250px;
  }
  .articulo8{
    height: 370px;
    width:250px;
    
  }
  .BarraBuscador{
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}
.icono-buscador{
    padding: 10px;
    position: relative;
    left: -10px;
    border-radius: 5px;
}
  .icono-buscador:hover{
      background-color: royalblue;
      cursor: pointer;
  }   


}


    @media (min-width: 769px){
      article{  box-shadow: 0px 0px 10px rgb(100, 100, 100); 
     }
      .hamburguesa{ 
          display: none
         }
         
    .listas{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        padding: 5px;
    
    }
    nav ul{
    margin-bottom: 0px;

    }
    .main-nav{
        
        font-size: 15px;
        flex-wrap: wrap;}

    main{
        margin-bottom: 30px;
    }    
     
    
    .logo-buscador{
        display: flex;
        justify-content:space-between;
        align-items: center; 
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
        flex-wrap: wrap;

    }
   .logo{
       width: 250px;
       height: auto;
   }
   .contenedor{
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
    
    
  }
  .articulo1{
    height: 330px;;
    width:230px;
  }
  .articulo2{
    height: 330px;;
    width:230px;
  }
  .articulo3{
    height: 330px;;
    width:230px;
  }
  .articulo4{
    height: 330px;;
    width:230px;
    
  }
  .contenedor2{
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
    
    
  }
  .articulo5{
    height: 330px;;
    width:230px;
  }
  .articulo6{
    height: 330px;;
    width:230px;
  }
  .articulo7{
    height: 330px;;
    width:230px;
  }
  .articulo8{
    height: 330px;;
    width:230px;
    
  }
 
.BarraBuscador{
    padding: 10px;
    border-radius: 5px;
    width: 450px;
}
.icono-buscador{
    padding: 10px;
    position: relative;
    left: -10px;
    border-radius: 5px;
}
  .icono-buscador:hover{
      background-color: royalblue;
      cursor: pointer;
  }
   
}
 
  
   .Titulares{
       padding:50px
   }
  
   

    .camion {
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        right: 20px;
        top: -15px;
        margin-top: 0%;
        }
       .truck{

        position: relative;
           display: flex;
           justify-content: flex-end;
           
       }

    .precio-descuento {
        display: flex;
        justify-content:space-between;
        align-content: flex-start;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 15px;

    }    
    .precio{
        flex-grow: 3;
        font-weight: bold;
        font-size: medium;
    }
    .descuentos{
        
        flex-grow:7;
    }
    

    
    main.login {
        display: flex;
        flex-wrap: wrap;
        flex-direction:column ;
        background-color:#D3D3D3 ;
        width: 100%;
        padding: 30px;
        justify-content:space-between;
        align-content: center;
      }
      input.nombre{
          display: flex;
          flex-wrap: wrap;
          justify-content:center;
          flex-direction: column;
          width: 100%;
          padding: 5px;
          border-radius:5px ;
          align-content: center;



         
      }
      input.contraseña{
          display: flex;
          flex-wrap: wrap;
          justify-content:space-between;
          width: 100%;
          padding: 5px;
          border-radius: 5px;
      }
      .register{
          padding: 10px;
         
      }
      form.registro {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: darkgrey;
        width: 50vw;
        box-shadow: 5px 10px 5px 3px rgba(0,0,0,0.75);
        margin: 40px;
        align-content: center;
      }
      .boton{
          background-color: #1259c3;
          color: white;
          padding: 5px;
          margin-right: 10px;
          border-radius: 5px;
      }
      .boton-reset{
        background-color: #1259c3;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    .boton-reset:hover{
        background-color: red;
        cursor: pointer;
    }


 .boton-login{
    background-color: #1259c3;
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

 }
 .boton-login:hover{
     background-color: #0022AA;
     cursor: pointer;
 }
 .formulario{
     margin-bottom: 30px;
     width: 45vw;
     display: flex;
     flex-wrap: wrap;
     
 }

   div.check-box{
       margin-top: 10px;
       display: flex;
       flex-direction:column;
       justify-content: space-between; 
       padding: 15px;
   }
   h2.descripcion{
    opacity:0 ;
       transition: opacity 450ms  ;

   }
   h2.descripcion:hover{
   opacity:1 ;
   }
   article{
       height: 330px;
      width:200px ;
       transition: all 1.5s;
       box-shadow: none;
    
   }
   article:hover{
       height: 70vh;
       width: 300px;
       box-shadow: 0px 0px 10px rgb(100, 100, 100); 
       cursor: pointer;
   }

   .camion i{
       transition: all 2s;
      
   }
   .camion:hover i{
    transform: rotate(-90deg);

   }

   footer{
       display: flex;
       justify-content: space-around;

   }
   .checkbox-categoria{
       position: relative;
       left: -17px;
       top:-13px
   }
   .categoria{
       position: relative;
       bottom: -15px;
       right: 5px;
   }
   .perfil{
       position: relative;
       right: 5px;
   }
   #copy{
       position: absolute;
       bottom: -35px;
       left:-2px ;
       padding-top: 30px;
       padding-bottom: 20px;
       
   }
   #icono{
       position: relative;
       padding-bottom: 30px;
       padding-top: 20px;

   }
 
  